html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-image: url('./images/bg-pattern.png');
}

.search-form {
 display: flex;
 justify-content: center;
}

input {
  text-align: center;
  padding: 5px;
  font-size: 28px;
  outline-color: #3c4245;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px;
  display: none;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 16px;
  color: #e8e8e8;
  background-color: #414141;
  outline-color: #3c4245;
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-items {
  list-style: none;
}

img {
  height: 280px;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.stats_item {
  text-align: center;
}
